<template>
  <div id="wrapper">
    <app-sidebar v-if="isAuth"></app-sidebar>
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <app-header v-if="isAuth"></app-header>
        <div class="container-fluid">
          <Nuxt />
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</template>

<script>
import Sidebar from "@/components/layouts/Sidebar";
import Header from "@/components/layouts/Header";
import Footer from "@/components/layouts/Footer";
import { mapState } from "vuex";

export default {
  data() {
    return {
      // isAuth: false,
    };
  },
  computed: {
    ...mapState(["isAuth"]),
  },
  components: {
    "app-sidebar": Sidebar,
    "app-header": Header,
    "app-footer": Footer,
  },
};
</script>

